:root {
    --border-radius: 25px;
    --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    --hover-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
    --primary-color: #007bff;
    --primary-hover-color: #0056b3;
    --text-color: #343a40;
    --background-color: #b4b4b438;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 10px;
    padding: 0;
    color: var(--text-color);
    background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #495057;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    border-radius: var(--border-radius);
    overflow: hidden;
    color: var(--text-color);
    box-shadow: var(--box-shadow);
}

table th,
table td {
    padding: 15px 20px;
    border: 1px solid #ddd;
    text-align: left;
}

table th {
    background-color: var(--primary-color);
    color: white;
    border-color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

table tr:nth-child(even) {
    background-color: #f8f9fa;
}

table tr:hover {
    background-color: #e9ecef;
    box-shadow: var(--hover-shadow);
}

input,
select {
    padding: 10px;
    border-radius: var(--border-radius);
    border: 1px solid #ccc;
    margin: 10px 0;
    box-sizing: border-box;
    box-shadow: var(--box-shadow);
    transition: border-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

input:focus,
select:focus {
    border-color: var(--primary-color);
    outline: none;
    box-shadow: var(--hover-shadow);
}

input:hover,
select:hover {
    box-shadow: var(--hover-shadow);
}



.container {
    padding: 25px;
    background-color: #fff;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.container p {
    font-size: 20px;
    color: var(--text-color);
}

.container button,
button {
    padding: 10px 20px;
    border-radius: var(--border-radius);
    border: none;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: var(--box-shadow);
}

.container button:hover,
button:hover {
    background-color: var(--primary-hover-color);
    box-shadow: var(--hover-shadow);
}

.custom-text-green {
    color: #FFD700;
}

.custom-text-red {
    color: #FF0000;
}

#scroll-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 24px;
    box-shadow: var(--box-shadow);
    transition: box-shadow 0.3s ease;
}

#scroll-button:hover {
    box-shadow: var(--hover-shadow);
}

#scroll-button:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 60px;
    right: 0;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 12px;
}

#woorden-header {
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#woorden-content {
    border-radius: var(--border-radius);
    background-color: #fff;
    box-shadow: var(--box-shadow);
    padding: 20px;
    margin: 10px 0;
    padding-top: 5px;
    border: none;
}